body {
    margin: 0px;
}

:root {
    // background-image: linear-gradient(to bottom right,  red, #ACB2F9);
    // background-color: #ff958e;
    background-color: #e03440;
    min-height: 100vh;
    
    .app {
        font-family: Roboto, sans-serif;
        display: flex;
        justify-content: center;
        color: #F5ece4;

        .container {
            display: flex;
            width: 100%;
            justify-content: center;

            // root or landing page
            .landing {
                display: flex;
                width: 100%;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                // navbar
                .navbar-container {
                    position: fixed;
                    top: 0;
                    z-index: 1;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: .15s ease-in;

                    .navbar {
                        z-index: 2;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // border: solid 1px black;
                        width: 1024px;
                        height: 75px;
                        
                        .title {
                            h1 {
                                font-size: 40px;
                                font-weight: 200;
                            }
                        }

                        .links {
                            a:visited {
                                color: white;
                            }
                        }
                        
                    }
                }

                // change navbar color on scroll
                .navbar-container-bg {
                    background-color: #F5ece4;
                    color: #1a434d;
                }

                // footer
                .footer-container {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    height: 150px;

                    footer {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        font-weight: 300;
                    }
                }

                // main hero section
                .hero {
                    width: 1024px;
                    // border: solid 1px black;
                    height: 100vh;
                    display: flex;
                    flex-direction: row;

                    .container-1 {
                        display: flex;
                        flex-direction: column;
                        flex: 3;
                        justify-content: center;
                        align-items: left;
                        gap: 18px;

                        .header {
                            h1 {
                                font-size: 80px;
                                font-weight: bold;
                                margin-bottom: 5px;
                            }

                            span {
                                font-size: 60px;
                                font-weight: 200;
                            }
                        }

                        span {
                            font-size: 18px;
                            font-weight: 300;
                        }

                        button {
                            width: 256px;
                            height: 48px;
                            background-color: #F5ece4;
                            border: none;
                            border-radius: 50px;
                            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-size: 18px;
                            color: #1a434d;
                            font-weight: bold;
                        }

                        button:hover {
                            cursor: pointer;
                        }
                    }

                    .container-2 {
                        flex: 2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        filter: drop-shadow(35px 25px 15px #122f36);

                        img {
                            height: 600px;
                        }

                        
                    }
                }

                // review section
                .reviews {
                    background-color: #F5ece4;
                    height: 400px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .container {
                        width: 1024px;
                        color: black;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .stars {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;

                            .star {
                                color: goldenrod;
                            }
                        }

                        h1 {
                            margin-top: 10px;
                            margin-bottom: 30px;
                            font-size: 60px;
                            font-weight: bold;
                        }
                        
                        .review {
                            font-size: 24px;
                            font-weight: 300;
                            margin-bottom: 10px;
                        }

                        .name {
                            font-size: 16px;

                        }
                    }
                }

                // team section
                .about {
                    background-color: #10282e;
                    height: 900px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .container {
                        width: 1024px;
                        height: 100%;
                        color: #F5ece4;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 40px;
                        .header {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            h1 {
                                font-size: 60px;
                                margin-top: 5px;
                                margin-bottom: 5px;
                            }
    
                            span {
                                font-size: 24px;
                                font-weight: 300;
                            }
                        }

                        .team {
                            display: flex;
                            flex-direction: column;
                            
                            .row {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                gap: 20px;
    
                                .member {
                                    display: flex;
                                    flex-direction: column;
                                    color: #F5ece4;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 20px;
        
                                    .head {
                                        overflow: hidden;
                                        width: 150px;
                                        height: 150px;
                                        border-radius: 75px;
        
                                        img {
                                            zoom: 6.5%;
                                            margin: -400px 0px 0px 0px;
                                        }
                                    }
        
                                    .desc {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        gap: 5px;
                                        h2 {
                                            font-size: 22px;
                                            font-weight: 300;
                                            text-align: center;
                                            margin-bottom: 5px;
                                        }
    
                                        span {
                                            font-size: 14px;
                                            font-weight: 800;
                                        }
                                    }
                                }
                            }
                        } 
                    }
                }
            }

            // login page
            .login {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100vh;
                width: 100%;
                background-color: #F5ece4;
                
                .navbar-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .navbar {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 1024px;
                        height: 75px;
                        color: #1a434d;
                        
                        .title {
                            h1 {
                                font-size: 40px;
                                font-weight: 200;
                            }
                        }
                    }
                }

                .container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    .login-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #F5ece4;
                        width: 500px;
                        height: 500px;
                        border-radius: 12px;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                        h1 {
                            color: black;
                            font-size: 24px;
                            margin-top: 40px; 
                        }

                        form {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            margin-top: 10px;
                            gap:10px;
        
                            input {
                                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                border: solid 1px black;
                                border-radius: 5px;
                                height: 50px;
                                width: 350px;
                                font-size: 16px;
                                box-sizing: border-box;
                                padding-left: 10px;
                                gap: 10px;
                                background-color: #F5ece4;
                                
                            }

                            input:focus {
                                outline-color: #1a434d;
                                border: solid 1px #1a434d; 
                            }

                            div {
                                align-self: first baseline;
                                span {
                                    margin-bottom: 2px;
                                    font-size: 14px;
                                    color: black;
                                    align-self: first baseline;
                                }
                            }
                            

                            button {
                                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                border-radius: 5px; 
                                background-color: #1a434d;
                                color: #F5ece4;
                                height: 50px;
                                width: 350px;
                                font-weight: 600;
                                font-size: 18px;
                            }
                            
                        }
                    }

                    .reg-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: white;
                        width: 400px;
                        height: 600px;
                        border-radius: 12px;

                        h1 {
                            color: black;
                            margin-top: 40px;
                            
                        }

                        form {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            margin-top: 10px;
        
                            input {
                                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                border: none;
                                border-bottom: solid 2px black;
                                height: 50px;
                                width: 250px;
                                font-size: 18px;
                                gap: 10px;
                            }

                            span {
                                margin-bottom: 2px;
                                font-size: 14px;
                                color: black;
                                align-self: center;
                            }

                            button {
                                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                border-radius: 5px; 
                                height: 40px;
                                width: 250px;
                            }
                            
                        }
                    }
                }
                
                
            }
        }   
        
        
        
    }
}